[package]
name = "stepflow-dtos"
description = "Data transfer types for Stepflow API and CLI"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
chrono.workspace = true
serde.workspace = true
serde_json.workspace = true
stepflow-core.workspace = true
utoipa.workspace = true
uuid.workspace = true
