[package]
name = "stepflow-dtos"
description = "Shared data transfer objects for Stepflow"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
serde.workspace = true
serde_json.workspace = true
stepflow-core.workspace = true
utoipa.workspace = true
uuid.workspace = true
