[package]
name = "stepflow-analysis"
description = "Workflow dependency analysis for Stepflow"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
publish = false

[lints]
workspace = true

[lib]
doctest = false

[dependencies]
error-stack.workspace = true
indexmap.workspace = true
schemars.workspace = true
serde_json.workspace = true
serde.workspace = true
stepflow-core.workspace = true
stepflow-plugin.workspace = true
utoipa.workspace = true
thiserror.workspace = true

[features]
default = []
